:root {
  --blue: #2a59ff;
  --inactive-blue: #6674a9;
  --dark-blue: #142666;
  --hover-blue: #f2f5ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100vh;
  overflow-x: hidden;
}

.text-number {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



